@model IEnumerable<SurveySays.Models.SurveyResponse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTaken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakerCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Survey.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTaken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakerCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Survey.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResponseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResponseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResponseID })
        </td>
    </tr>
}

</table>
